{% block body %}

<div class="container">

    <h1 class="text-white-50 shadow mb-3 pb-3 border-1 border-bottom">{{ controller_name }}</h1>

</div>

{% endblock %}

{% block header %}{% include '@Users/partials/header.html.twig' %}{%- endblock %}

{% block title %}{{ controller_name }}{% endblock %}

{% extends '@App/base.html.twig' %}
