<!-- Favicon -->
<!-- WEB -->
<link href="{{ asset('kw/red/favicon-16x16.png', 'favicons') }}" rel="icon" type="image/png" sizes="16x16">
<link href="{{ asset('kw/red/favicon-32x32.png', 'favicons') }}" rel="icon" type="image/png" sizes="32x32">
<link href="{{ asset('kw/red/favicon-96x96.png', 'favicons') }}" rel="icon" type="image/png" sizes="96x96">
<link href="{{ asset('kw/red/favicon.ico', 'favicons') }}" rel="icon" type="image/x-icon">
<!-- IOS -->
<link href="{{ asset('kw/red/apple-icon-57x57.png', 'favicons') }}" rel="apple-touch-icon" sizes="57x57">
<link href="{{ asset('kw/red/apple-icon-60x60.png', 'favicons') }}" rel="apple-touch-icon" sizes="60x60">
<link href="{{ asset('kw/red/apple-icon-72x72.png', 'favicons') }}" rel="apple-touch-icon" sizes="72x72">
<link href="{{ asset('kw/red/apple-icon-76x76.png', 'favicons') }}" rel="apple-touch-icon" sizes="76x76">
<link href="{{ asset('kw/red/apple-icon-114x114.png', 'favicons') }}" rel="apple-touch-icon" sizes="114x114">
<link href="{{ asset('kw/red/apple-icon-120x120.png', 'favicons') }}" rel="apple-touch-icon" sizes="120x120">
<link href="{{ asset('kw/red/apple-icon-144x144.png', 'favicons') }}" rel="apple-touch-icon" sizes="144x144">
<link href="{{ asset('kw/red/apple-icon-152x152.png', 'favicons') }}" rel="apple-touch-icon" sizes="152x152">
<link href="{{ asset('kw/red/apple-icon-180x180.png', 'favicons') }}" rel="apple-touch-icon" sizes="180x180">
<link href="{{ asset('kw/red/apple-icon.png', 'favicons') }}" rel="apple-touch-icon" sizes="192x192">
<link href="{{ asset('kw/red/apple-icon-precomposed.png', 'favicons') }}" rel="apple-touch-icon-precomposed" sizes="192x192">
<!-- ANDROID -->
<link href="{{ asset('kw/red/android-chrome-36x36.png', 'favicons') }}" rel="icon" type="image/png" sizes="36x36">
<link href="{{ asset('kw/red/android-chrome-48x48.png', 'favicons') }}" rel="icon" type="image/png" sizes="48x48">
<link href="{{ asset('kw/red/android-chrome-72x72.png', 'favicons') }}" rel="icon" type="image/png" sizes="72x72">
<link href="{{ asset('kw/red/android-chrome-96x96.png', 'favicons') }}" rel="icon" type="image/png" sizes="96x96">
<link href="{{ asset('kw/red/android-chrome-144x144.png', 'favicons') }}" rel="icon" type="image/png" sizes="144x144">
<link href="{{ asset('kw/red/android-chrome-192x192.png', 'favicons') }}" rel="icon" type="image/png" sizes="192x192">
{#<link href="{{ asset('kw/red/manifest.json') }}" rel="manifest">#}
<!-- WINDOWS -->
<meta name="application-name" content="Karlito Web">
{#<meta name="msapplication-TileImage" content="{{ asset('kw/red/ms-icon-70x70.png') }}">#}
{#<meta name="msapplication-TileImage" content="{{ asset('kw/red/ms-icon-144x144.png') }}">#}
{#<meta name="msapplication-TileImage" content="{{ asset('kw/red/ms-icon-150x150.png') }}">#}
{#<meta name="msapplication-TileImage" content="{{ asset('kw/red/ms-icon-310x310.png') }}">#}
<meta name="msapplication-TileColor" content="#ECF0F1">
