
{% if app.user is not null %} {% set bgcolor = 'bg-success-subtle' %} {% else %} {% set bgcolor = 'bg-danger-subtle' %}{% endif %}

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center {{ bgcolor }}">
    <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center" title="{{ metas.title }}">
{#            <img src="{{ asset('niceadmin/assets/img/logo.png', 'themes') }}" alt="Karlito-Web : Users">#}
            <img src="{{ asset('images/logos/square-KW/trans/black-orange.svg', 'users') }}" alt="{{ metas.title }}" style="max-height: 40px;">
            <span class="d-none d-lg-block">{{ metas.title }}</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="GET" action="#" hx-validate="true">
        {% if app.current_route == 'kw.users.dashboard.index' %}
            <input
                name="{{ form.search.vars.attr.block_name }}"
                type="search"
                id="{{ form.search.vars.attr.id }}"
{#                class="form-control"#}
                placeholder="{{ form.search.vars.attr.placeholder }}"
                autocomplete="{{ form.search.vars.attr.autocomplete }}"
                hx-post="{{ path('kw.users.dashboard.search') }}"
                hx-trigger="input changed delay:750ms, load, search" {# , keyup[this.value.length >= 3] #}
                hx-target="#search-results"
                hx-indicator="#loading-indicator"
                aria-label="Search"
            >
        {% else %}
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        {% endif %}
            <button type="button" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <!-- End Search Bar -->
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li>
            <!-- End Search Icon-->
            {% include '@Users/partials/_header-notifcation.html.twig' %}
            {% include '@Users/partials/_header-message.html.twig' %}
            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                {% if app.user is not null and app.user is defined %}
                    <img src="{{ asset('images/sako/001.jpg', 'users') }}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">
                            {{ app.user.firstname|first }} {{ app.user.lastname|upper }}
                    </span>
                {% else %}
                    <img src="{{ asset('images/avatars/user-secret.svg', 'users') }}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">
                            Anonymous
                    </span>
                {% endif %}
                </a>
                <!-- End Profile Iamge Icon -->
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                    {% if app.user is not null and app.user is defined %}
                        <h6>{{ app.user.firstname }} {{ app.user.lastname|upper }}</h6>
                        <span>Web Designer</span>
                    {% else %}
                        <h6>Anonymous</h6>
                        <span>Web Designer</span>
                    {% endif %}
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{{ path('kw.users.logout') }}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
                <!-- End Profile Dropdown Items -->
            </li>
            <!-- End Profile Nav -->
        </ul>
    </nav>
    <!-- End Icons Navigation -->
</header>
<!-- End Header -->
