
{% if app.user is not null %} {% set bgcolor = 'bg-success-subtle' %} {% else %} {% set bgcolor = 'bg-danger-subtle' %}{% endif %}

<header class="{{ bgcolor }}">
    <div class="px-3 py-2 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{ path('app.main.index') }}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" fill="#F0F0F0" /></svg>
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="{{ path('app.main.index') }}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home" /></svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('kw.users.dashboard.index') }}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer" /></svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white disabled">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table" /></svg>
                            Link
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('kw.users.profile.create') }}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle" /></svg>
                            New User
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('kw.users.profile.create.fake') }}" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle" /></svg>
                            Fake User
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
        {% if app.current_route == 'kw.users.dashboard.index' %}
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search" method="get" hx-validate="true">
{#                <span class="htmx-indicator"><img src="https://htmx.org/img/bars.svg" alt="" /> Searching...</span>#}
                <input
                    name="{{ form.search.vars.attr.block_name }}"
                    type="search"
                    class="form-control"
                    placeholder="{{ form.search.vars.attr.placeholder }}"
                    autocomplete="{{ form.search.vars.attr.autocomplete }}"
                    hx-post="{{ path('kw.users.dashboard.search') }}"
                    hx-trigger="input changed delay:750ms, load, search" {# , keyup[this.value.length >= 3] #}
                    hx-target="#search-results"
                    hx-indicator="#loading-indicator"
                    aria-label="Search"
                >
            </form>
            {% else %}
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                <input type="search" class="form-control" aria-label="Search" disabled>
            </form>
        {% endif %}
            <div class="text-end">
                <a href="{{ path('kw.users.login') }}" class="btn btn-light text-dark me-2 text-uppercase">Log-in</a>
                <a href="{{ path('kw.users.registration.register') }}" class="btn btn-outline-primary me-2 text-uppercase">Sign-up</a>
                <a href="{{ path('kw.users.logout') }}" class="btn btn-outline-danger text-uppercase">Log-out</a>
            </div>
        </div>
    </div>
</header>
