{% extends '@Layouts/themes/niceadmin/bases/empty.html.twig' %}

{% block contents %}
    <main>

        <div class="container">

            {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('kw.users.logout') }}">Logout</a>
            </div>
            {% endif %}

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="d-flex justify-content-center py-4">
                                <a href="{{ path('kw.users.dashboard.index') }}" class="logo d-flex align-items-center w-auto" title="{{ metas.title }}">
                                    <img src="{{ asset('images/logos/square-KW/trans/black-orange.svg', 'users') }}" alt="{{ metas.title }}" style="max-height: 52px;">
                                    <span class="d-none d-lg-block">{{ metas.title }}</span>
                                </a>
                            </div>
                            <!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                        <p class="text-center small">Enter your username & password to login</p>
                                    </div>

                                    <form method="post" class="row g-3 needs-validation">{#  novalidate #}

                                        <div class="col-12">
                                            <label for="yourUsername" class="form-label">Username</label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                <input
                                                    type="text"
                                                    name="email"
                                                    id="yourUsername"
                                                    class="form-control"
                                                    placeholder="{{ 'user.form.email.placeholder'|trans({}, 'forms') }}"
                                                    {# value="{{ last_username }}" #} value="giancarlo.palumbo@free.fr"
                                                    autocomplete="email"
                                                    required
                                                    autofocus
                                                >
                                                <div class="invalid-feedback">Please enter your username.</div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="yourPassword" class="form-label">Password</label>
                                            <input
                                                type="password"
                                                name="password"
                                                id="yourPassword"
                                                class="form-control"
                                                placeholder="{{ 'user.form.password.placeholder'|trans({}, 'forms') }}"
                                                value="giancarlo"
                                                autocomplete="current-password"
                                                required
                                            >
                                            <div class="invalid-feedback">Please enter your password!</div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    name="_remember_me"
                                                    value="true"
                                                    id="rememberMe"
                                                    checked
                                                >
                                                <label class="form-check-label" for="rememberMe">Remember me</label>
                                            </div>
                                        </div>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">{{ 'user.form.btn.login'|trans({}, 'forms') }}</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Don't have account? <a href="{{ path('kw.users.registration.register', {'theme': 'niceadmin'}) }}">Create an account</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

        </div>

    </main>
    <!-- End #main -->

{% endblock %}

{% block favicons %}{% include '@Users/partials/favicon.html.twig' %}{% endblock %}

{% block title %}{{ controller_name }}{% endblock %}
