{% extends '@Layouts/themes/niceadmin/bases/empty.html.twig' %}

{% block contents %}
<main class="form-signin w-100 m-auto">
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('kw.users.logout') }}">Logout</a>
        </div>
        {% endif %}
        {# <img class="mb-4" src="{{ asset('/themes/bootstrap/images/bootstrap-logo.svg', 'layouts') }}" alt="" width="72" height="57">#}
        <svg class="bi me-2 mb-4" width="72" height="57" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap" fill="#F0F0F0" /></svg>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputEmail" name="email" placeholder="{{ 'user.form.email.placeholder'|trans({}, 'forms') }}" autocomplete="email" required autofocus {# value="{{ last_username }}" #} value="giancarlo.palumbo@free.fr">
            <label for="floatingInputEmail">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="{{ 'user.form.password.placeholder'|trans({}, 'forms') }}" autocomplete="current-password" required value="giancarlo">
            <label for="floatingPassword">Password</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="form-check text-start my-3">
            <input type="checkbox" class="form-check-input" id="flexCheckDefault" name="_remember_me" value="remember-me">
            <label class="form-check-label" for="flexCheckDefault">
                {{ 'user.form.remember'|trans({}, 'forms') }}
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">{{ 'user.form.btn.login'|trans({}, 'forms') }}</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
        <a href="{{ path('kw.users.connect.github', {'service': 'github_main'}) }}" class="btn btn-sm btn-outline-info">Github</a>
        <a href="{{ path('kw.users.connect.google', {'service': 'google_main'}) }}" class="btn btn-sm btn-outline-info">Google</a>
    </form>
</main>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

</style>
{% endblock %}

{% block header %}{% include '@Users/partials/header.html.twig' %}{%- endblock %}

{% block title %}{{ controller_name }}{% endblock %}
