{% if app.user and app.user.isVerified == false %}
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <div class="row clearfix">
        <strong class="float-start w-50">Your account is not verified. Send an email to verify your account.</strong>
        <a class="float-end btn btn-sm btn-outline-warning border-warning border-1 text-decoration-none w-50" href="{{ path('kw.users.registration.resend.email') }}">RESEND ME EMAIL FOR ACTIVATION</a>
    </div>
</div>
{% endif %}
