{% extends '@App/base.html.twig' %}

{% block body %}

{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<section class="container">
    <h1 class="text-white-50 shadow mb-3 pb-3 border-1 border-bottom">Register</h1>
    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
            }) }}
        </div>
        <div class="col-6">
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.agreeTerms) }}
        </div>
    </div>
    <button type="submit" class="btn btn-outline-success text-capitalize w-100">{{ 'user.form.btn.registration'|trans({}, 'forms') }}</button>
    {{ form_end(registrationForm) }}
</section>
{% endblock %}

{% block header %}{% include '@Users/partials/header.html.twig' %}{%- endblock %}

{% block title %}{{ controller_name }}{% endblock %}
