{% extends '@Layouts/themes/niceadmin/bases/empty.html.twig' %}

{% block contents %}

    <main>

        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}

                            <div class="d-flex justify-content-center py-4">
                                <a href="{{ path('kw.users.dashboard.index') }}" class="logo d-flex align-items-center w-auto">
                                    <img src="{{ asset('images/logos/square-KW/trans/black-orange.svg', 'users') }}" alt="{{ metas.title }}" style="max-height: 52px;">
                                    <span class="d-none d-lg-block">{{ metas.title }}</span>
                                </a>
                            </div>
                            <!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                        <p class="text-center small">Enter your personal details to create account</p>
                                    </div>

                                    {{ form_start(registrationForm, {attr: {'class' : 'row g-3 needs-validation'}}) }}
                                    {{ form_errors(registrationForm) }}
                                    {{ form_row(registrationForm.username) }}
                                    {{ form_row(registrationForm.email) }}
                                    {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
                                    {{ form_row(registrationForm.firstname) }}
                                    {{ form_row(registrationForm.lastname) }}
                                    {{ form_row(registrationForm.agreeTerms) }}
                                    <button type="submit" class="btn btn-outline-primary text-capitalize w-100">{{ 'user.form.btn.registration'|trans({}, 'forms') }}</button>
                                    {{ form_end(registrationForm) }}

{#                                    <form class="row g-3 needs-validation" novalidate>#}
{#                                        <div class="col-12">#}
{#                                            <label for="yourName" class="form-label">Your Name</label>#}
{#                                            <input type="text" name="name" class="form-control" id="yourName" required>#}
{#                                            <div class="invalid-feedback">Please, enter your name!</div>#}
{#                                        </div>#}
{##}
{#                                        <div class="col-12">#}
{#                                            <label for="yourEmail" class="form-label">Your Email</label>#}
{#                                            <input type="email" name="email" class="form-control" id="yourEmail" required>#}
{#                                            <div class="invalid-feedback">Please enter a valid Email adddress!</div>#}
{#                                        </div>#}
{##}
{#                                        <div class="col-12">#}
{#                                            <label for="yourUsername" class="form-label">Username</label>#}
{#                                            <div class="input-group has-validation">#}
{#                                                <span class="input-group-text" id="inputGroupPrepend">@</span>#}
{#                                                <input type="text" name="username" class="form-control" id="yourUsername" required>#}
{#                                                <div class="invalid-feedback">Please choose a username.</div>#}
{#                                            </div>#}
{#                                        </div>#}
{##}
{#                                        <div class="col-12">#}
{#                                            <label for="yourPassword" class="form-label">Password</label>#}
{#                                            <input type="password" name="password" class="form-control" id="yourPassword" required>#}
{#                                            <div class="invalid-feedback">Please enter your password!</div>#}
{#                                        </div>#}
{##}
{#                                        <div class="col-12">#}
{#                                            <div class="form-check">#}
{#                                                <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>#}
{#                                                <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>#}
{#                                                <div class="invalid-feedback">You must agree before submitting.</div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-12">#}
{#                                            <button class="btn btn-primary w-100" type="submit">Create Account</button>#}
{#                                        </div>#}
                                        <div class="col-12">
                                            <p class="small mb-0">Already have an account? <a href="{{ path('kw.users.login') }}">Log in</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="credits">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>

    </main>
    <!-- End #main -->

{% endblock %}

{% block favicons %}{% include '@Users/partials/favicon.html.twig' %}{% endblock %}

{% block title %}{{ controller_name }}{% endblock %}
