{% extends '@Layouts/themes/niceadmin/bases/full.html.twig' %}

{% block contents %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>{{ controller_name }}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('kw.users.dashboard.index') }}">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">{{ controller_name }}</li>
                </ol>
            </nav>
        </div>
        <!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ controller_name }}</h5>
                            <p>If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.</p>
                            <p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
                            <p>If you don't receive an email please check your spam folder or <a href="{{ path('kw.users.forgot.password') }}">try again</a>.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>
    <!-- End #main -->

{% endblock %}

{% block header %}{% include '@Users/partials/header.html.twig' %}{%- endblock %}

{% block sidebar %}{% include '@Users/partials/sidebar.html.twig' %}{% endblock %}

{% block favicons %}{% include '@Users/partials/favicon.html.twig' %}{% endblock %}
