{% extends '@Layouts/themes/niceadmin/bases/empty.html.twig' %}

{% block contents %}
    <main>

        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            {{ form_start(requestForm) }}

                                {{ form_row(requestForm.email, {'value': app.user.email}) }}

                                <div id="passwordHelpBlock" class="form-text mb-5">
                                    Enter your email address, and we will send you a link to reset your password.
                                </div>

                                <button class="btn btn-outline-primary text-uppercase w-100">Send password reset email</button>
                            {{ form_end(requestForm) }}

                        </div>
                    </div>
                </div>
            </section>

        </div>

    </main>
    <!-- End #main -->

{% endblock %}

{% block favicons %}{% include '@Users/partials/favicon.html.twig' %}{% endblock %}

{% block title %}{{ controller_name }}{% endblock %}
