{% block body %}

<main id="main" class="main container">
    <!-- Start Page Title -->
    <div class="row">
        <h1 class="text-white-50 shadow mb-3 pb-3 border-1 border-bottom">Reset your password</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('kw.users.dashboard.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item">Reset</li>
                <li class="breadcrumb-item active">Password</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="col">

            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-outline-primary w-100">Reset password</button>
            {{ form_end(resetForm) }}

            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block title %}{{ controller_name }}{% endblock %}

{% extends '@App/base.html.twig' %}
