{% block body %}

<!-- Start #main -->
<main id="main" class="main container">
    <!-- Start Page Title -->
    <div class="row">
        <h1 class="text-white-50 shadow mb-3 pb-3 border-1 border-bottom">{{ controller_name }}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('kw.users.dashboard.index') }}">Dashboard</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="{{ asset('bundles/users/images/avatars/user-alt.svg') }}" alt="Profile" class="img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        {{ form_start(form) }}
                        {{ form_errors(form) }} {# Affiche toutes les erreurs du formulaire #}
                        {{ form_row(form.username) }}
{#                        {{ form_errors(form.username) }}#}
                        {{ form_row(form.email) }}
{#                        {{ form_errors(form.email) }}#}
                        {{ form_row(form.firstname) }}
{#                        {{ form_errors(form.firstname) }}#}
                        {{ form_row(form.lastname) }}
{#                        {{ form_errors(form.lastname) }}#}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-outline-primary btn-lg w-100">Submit</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End #main -->

{% endblock %}

{% block header %}{% include '@Users/partials/header.html.twig' %}{%- endblock %}

{% block title %}{{ controller_name }}{% endblock %}

{% extends '@App/base.html.twig' %}
