
{% if search is defined %}
    {% for user in search %}
    <tr>
        <th scope="row" class="text-center fw-normal">{{ loop.index }}</th>
        <td class="fw-bolder">{{ user.username }}</td>
        <td class="fw-bolder">{{ user.firstname }}</td>
        <td class="fw-bolder">{{ user.lastname }}</td>
        <td class="fw-bolder">{{ user.email }}</td>
        <td class="text-center">{% if user.verified is empty %}<i class="fa-solid fa-square-xmark text-danger fa-2x"></i>{% else %}<i class="fa-solid fa-square-check text-success fa-2x"></i>{% endif %}</td>
        <td class="text-end"><a href="{{ path('kw.users.profile.update', {'uuid': user.uuid}) }}"><i class="fa-regular fa-address-card fa-2x"></i></a></td>
    </tr>
    {% endfor %}
{% endif %}
