{% extends '@Layouts/themes/niceadmin/bases/full.html.twig' %}

{% block contents %}

<div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% include '@Users/contents/security/not-verified.html.twig' %}

    <h1 class="text-white-50 shadow mb-3 pb-3 border-1 border-bottom">{{ controller_name }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">Username</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col" class="text-center">Verified</th>
                <th scope="col" class="text-end">Profile</th>
            </tr>
        </thead>
        <tbody id="search-results"></tbody>
{#        <tbody>#}
{#            {% for user in users %}#}
{#            <tr>#}
{#                <th scope="row" class="text-center">{{ loop.index }}</th>#}
{#                <td>{{ user.username }}</td>#}
{#                <td>{{ user.firstname }}</td>#}
{#                <td>{{ user.lastname }}</td>#}
{#                <td>{{ user.email }}</td>#}
{#                <td class="text-center">{% if user.verified is empty %}<i class="fa-solid fa-square-xmark text-danger fa-2x"></i>{% else %}<i class="fa-solid fa-square-check text-success fa-2x"></i>{% endif %}</td>#}
{#                <td class="text-end"><a href="{{ path('kw.users.profile.update', {'uuid': user.uuid}) }}"><i class="fa-regular fa-address-card fa-2x"></i></a></td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
    </table>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

{% endblock %}

{% block header %}{% include '@Users/partials/header.html.twig' with {'form': form} only %}{%- endblock %}

{% block sidebar %}{% include '@Users/partials/sidebar.html.twig' %}{% endblock %}

{% block favicons %}{% include '@Users/partials/favicon.html.twig' %}{% endblock %}

{% block title %}{{ controller_name }}{% endblock %}
