{% extends '@Layouts/themes/niceadmin/bases/full.html.twig' %}

{% block contents %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('kw.users.dashboard.index') }}">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">


{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

{% include '@Users/contents/security/not-verified.html.twig' %}

            <div class="card">
                <div class="card-header"> <h1 class="card-title p-0 mb-0">{{ controller_name }}</h1> </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Firstname</th>
                                <th scope="col">Lastname</th>
                                <th scope="col">Email</th>
                                <th scope="col" class="text-center">Verified</th>
                                <th scope="col" class="text-end">Profile</th>
                            </tr>
                        </thead>
                        <tbody id="search-results"></tbody>
                {#        <tbody>#}
                {#            {% for user in users %}#}
                {#            <tr>#}
                {#                <th scope="row" class="text-center">{{ loop.index }}</th>#}
                {#                <td>{{ user.username }}</td>#}
                {#                <td>{{ user.firstname }}</td>#}
                {#                <td>{{ user.lastname }}</td>#}
                {#                <td>{{ user.email }}</td>#}
                {#                <td class="text-center">{% if user.verified is empty %}<i class="fa-solid fa-square-xmark text-danger fa-2x"></i>{% else %}<i class="fa-solid fa-square-check text-success fa-2x"></i>{% endif %}</td>#}
                {#                <td class="text-end"><a href="{{ path('kw.users.profile.update', {'uuid': user.uuid}) }}"><i class="fa-regular fa-address-card fa-2x"></i></a></td>#}
                {#            </tr>#}
                {#            {% endfor %}#}
                {#        </tbody>#}
                    </table>
                </div>
            </div>

        </div>
    </section>
</main>
<!-- End #main -->

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/fontawesome.min.css">
    <style>
        table.table tr td, table.table tr th { padding: 0 8px; line-height: 40px; vert-align: middle; }
        table.table tr td svg { padding-top: 4px; }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/js/all.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

{% endblock %}

{% block header %}{% include '@Users/partials/header.html.twig' with {'form': form} only %}{%- endblock %}

{% block sidebar %}{% include '@Users/partials/sidebar.html.twig' %}{% endblock %}

{% block favicons %}{% include '@Users/partials/favicon.html.twig' %}{% endblock %}

{% block title %}{{ controller_name }}{% endblock %}
